<div  class="chat-box">
  <div class="chat-box-header">
      <h3>Message Us</h3>
      <p>
        <i class="fa fa-times"></i>
      </p>
  </div>
  <div class="chat-box-body">
    <div class="chat-box-body-send">
      <p>ماذا تريد</p>
      <span>12:00</span>

    </div>
    <br>

    <div class="chat-box-body-receive">
      <p  class="col-md" *ngFor="let parent of AllParent">
        <button class="btn btn-light" (click)="GetChildrenByParentId(parent.id,parent.name)">
          {{parent.name}}

        </button>
      </p>
    </div>


    <div *ngFor="let item of TreeVMS" >
      <div class="chat-box-body-send">
        <p *ngFor="let child1 of item.Selected">{{child1}}</p>
        <span>12:00</span>

      </div>


      <div class="chat-box-body-receive" id="scroll">
        <div *ngFor="let child of item.TreeDto">
          <button *ngIf="child.hasChildren" class="btn btn-light" (click)="GetChildrenByParentId(child.id,child.name)">
            {{child.name}}
          </button>
          <p *ngIf="!child.hasChildren">
            {{child.name}}
          </p>
        </div>
      </div>
    </div>




  </div>



<div class="chat-button">
  <span></span>
</div>


<div class="modal">
        <div class="modal-content">
            <span class="modal-close-button">&times;</span>
            <h1>Add What you want here.</h1>
        </div>
    </div>

